---
---

$nav-width: 300px;

html, body {
  position: relative;
  height: 100%;
  background-color: #061113;
  background-image: none;
}

body.docs  ,
body.about {
  nav {
    position: fixed;

    left: 0;
    top: 0;
    bottom: 0;

    background-color: #8D5E8E;

    ul {
      li {
        > a {
          display: inline-block;
          width: $nav-width;
          background-color: #9a699b;
          color: white;
          text-align: center;
          font: 300 14px "Lato", sans-serif;
          height: 40px;
          line-height: 40px;
          //vertical-align: middle;
          //border-right: 1px solid #dba7dc;

          span {
            line-height: 1em;
            display: inline-block;
            //vertical-align: middle;
          }

          &:hover {
            color: #b481bd;
            background-color: white;
          }
        }

        &:first-child {
          border-bottom: 5px solid #8D5E8E;

          > a:first-child {
            padding-top: 20px;
            height: 54px;
            border-bottom: 5px solid #28545d;
            background-color: #103942;
          }

          h2 {
            border-bottom: 1px solid #28545d;
            text-align: center;

            &:first-of-type {
              border-top: 1px solid #28545d;
            }

            a {
              display: inline-block;
              font: bold 14px "Lato", sans-serif;
              background-color: #84BAC3;
              width: $nav-width;
              color: #447782;
              padding: 5px 0px;
              text-align: center;
              text-decoration: none;
            }

            &.active {
              a {
                background-color: #5999a6;
                color: white;
              }
            }
          }
        }

        &.active > a {
          position: relative;
          z-index: 99;
          color: #b481bd;
          background-color: white;
          border-top: 1px solid #743d7b;
          border-bottom: 1px solid #743d7b;
          box-shadow: -2px 0px 2px 1px #585858;
          font: bold 14px "Lato", sans-serif;
          line-height: 40px;

          &:before {
            content: '';
            position: absolute;
            right: -13px;
            top: 7px;
            width: 0;
            height: 0;
            border-top: 12px solid transparent;
            border-left: 14px solid white;
            border-bottom: 12px solid transparent;
          }

          &:after {
            content: '';
            position: absolute;
            right: -11px;
            top: 10px;
            width: 0;
            height: 0;
            border-top: 9px solid transparent;
            border-left: 11px solid #9a699b;
            border-bottom: 9px solid transparent;
          }
        }
      }
    }
  }

  .content {
    color: #999;
    max-width: 1000px;
    padding: 0;
    margin:  0 auto;
    padding-top:  20px;
    padding-left: $nav-width;
    padding-bottom: 20px;
    text-align: center;

    .image {
      display: inline-block;
      text-align: center;
      padding: 10px 20px;
      margin: 0 auto;

      &.border {
        border: 1px solid #888;
        padding: 10px;

        &.right, &.left {
          margin: 10px 20px;
        }
      }

      .caption {
        border-top: 1px solid #888;
        padding-top: 10px;
        margin-top: 10px;

        p {
          text-align: center;
          font-family: "Lato";
          font-weight: normal;
          font-size: 16px;
        }
      }

      img {
        padding: 0;
        margin: 0;
      }
    }

    .right {
      float: right;
    }

    .left {
      float: left;
    }

    p {
      font: 300 18px "Lato", sans;
      padding-left: 20px;
      padding-right: 20px;
      text-align: justify;
    }

    h1 {
      clear: both;
      color: #6AB8CA;
      text-align: left;
      margin-top: 5px;
      font-weight: normal;
      font-family: "Lato", sans;
      font-size: 36px;

      padding: 0;
      padding-left: 20px;
      padding-right: 20px;
    }

    h2 {
      clear: both;
      color: #6AB8CA;
      text-align: left;
      margin-top: 45px;
      font-weight: 300;
      font-family: "Lato", sans;
      font-size: 26px;

      padding: 0;
      padding-left: 20px;
      padding-right: 20px;
    }

    h3 {
      clear: both;
      color: #6AB8CA;
      text-align: left;
      margin-top: 45px;
      font-weight: bold;
      font-family: "Lato", sans;
      font-size: 18px;

      padding: 0;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 10px;
    }

    .caption {
      text-align: center;
      font-family: "Lato", sans;
      line-height: 1.3em;
    }

    ul {
      padding-left: 30px;
      text-align: left;

      li {
        list-style: circle inside;
        line-height: 1.3em;

        a {
          font-size: 12px;
        }
      }
    }

    em {
      color: #ccc;
      font-style: italic;
      padding-right: 3px;

      &:not(:first-child) {
        padding-left:  3px;
      }
    }

    strong {
      font-weight: bold;
      color: #ccc;
      padding-right: 3px;

      &:not(:first-child) {
        padding-left:  3px;
      }
    }

    .container {
      text-align: center;
      background-color: #103942;
      width: 100%;
      border-top: 10px solid #61b4c5;
      border-bottom: 10px solid #61b4c5;
      margin-top: 20px;
      margin-bottom: 20px;
      line-height: 0;
      outline: 3px solid #365056;

      iframe {
        margin: 0 auto;

        width: 100%;
        height: 450px;
        max-height: 450px;
      }
    }

    pre ,
    figure pre {
      font: normal 14px 'inconsolata', monospace;
      color: #bbb;
      text-align: left;
      padding: 10px;
      margin: 10px;
    }

    ol.bibliography {
      padding-left: 50px;
      padding-right: 20px;
      text-align: left;
      margin-top: 20px;

      li {
        padding-bottom: 5px;
        list-style: decimal outside;

        font: bold 14px "Lato", sans-serif;

        line-height: 1.3em;
        text-align: left;
        color: #6287A2;

        * {
          font: 300 14px "Lato", sans-serif;
        }

        *:not(a) {
          color: #444;
        }

        a {
          font-size: 12px;
        }
      }
    }
  }
}

// Documentation pages
html.docs ,
body.docs {
  background-color: #fff;

  nav {
    box-shadow: 0px 0px 5px 1px #444;
    background-color: #405382;

    ul {
      li {
        > a {
          background-color: #84BAC3;
          width: ($nav-width - 1);
          color: #1B1B1B;
          border-right: 1px solid #405382;
        }

        &:first-child {
          border-bottom-color: #405382;

          h2 {
            border-color: #31253E;

            &:first-of-type {
              border-color: #31253E;
            }

            a {
              background-color: #6A4F73; 
              color: #402F46;
            }

            &.active {
              a {
                color: white;
                background-color: #b481bd;
              }
            }
          }
        }

        &:not(:first-child) a:hover {
          border-color: #405382;
          background-color: #5999a6;
          color: #fff;
        }

        &.active {
          a {
            width: $nav-width;
            border-color: #405382;
            background-color: #5999a6;
            color: #fff;
            box-shadow: -2px 0px 2px 1px #5A5B71;
            border-right: none;

            &:before {
              border-left-color: #5999a6;
            }

            &:after {
              border-left-color: hsla(190,36%,34%,1);
            }
          }
        }
      }
    }
  }

  .content {
    color: #444;

    h3 {
      color: #4F8A98;
    }

    em {
      color: #595A6B;
    }

    strong {
      color: #595A6B;
    }
  }
}
