---
---
@charset "utf-8";

body .content {
}

.content .header {
  background-color: #103942;
  position: relative;
  width: 100%;
}

.content .header img {
  width: 100%;
}

.content .video {
  position: absolute;
  z-index: 2;
  top: 65%;

  left: 0;
  right: 0;

  margin: 0 auto;

  width: 100%;
}

.content .resizer {
  background-color: white;
  left: 0;
  right: 0;

  margin: 0 auto;

  width: 100%;
}

.content .resizer > .resizer-content ,
.content .video > .screen {
  position: relative;
  left: 0;
  right: 0;

  margin: 0 auto;

  max-width: 480px;
}

.content .resizer > .resizer-content {
  max-width: 380px;
}

.content .video > .screen {
  border: 20px solid #103942;
}

.content .resizer > .resizer-content > img ,
.content .video > .screen > img {
  max-width: 480px;
  width: 100%;
}

.content .resizer > .resizer-content > img {
  max-width: 380px;
}

.content .video .screen .embed {
  position: absolute;
  background-color: black;

  background-image: url("{{ "/images/occam-workflow-base.png" | prepend: site.baseurl }}");
  background-size: 100% 100%;

  top: 0px;
  left: 0px;

  cursor: pointer;

  max-width: 480px;
  width: 100%;
  height: 100%;
}

.content .video .screen .embed:hover {
  background-image: url("{{ "/images/occam-workflow.png" | prepend: site.baseurl }}");
}

.content .pillars {
  background-color: white;
}

.content .pillars ul {
  display: block;
  text-align: center;
  width: 100%;
}

.content .pillars ul li {
  background: url('/images/pillar.png') no-repeat 50% 0;
  color: #777;
  color: hsl(190, 60%, 45%);

  display: inline-block;
  text-align: center;

  font-family: "Lato";
  font-weight: 700;
  font-size: 20px;

  padding-top: 74px;

  height: 40px;
  min-width: 200px;
  width: 30%;
}

.content .markdown {
  background-color: #103942;
  position: relative;
  width: 100%;
  color: #ccc;

  strong, em {
    color: #ccc;
  }

  margin-top: 5px;

  clear: both;

  padding: 20px 0;
}

.content .markdown p {
  font-family: "Lato", sans-serif;
  font-weight: 200;
  font-size: 18px;
}

.content .markdown ~ .markdown p {
  font-family: "Lato", sans-serif;
  font-weight: 200;
  font-size: 16px;
}

.markdown .image.left {
  padding-left: 20px;
}

.markdown .image.right {
  padding-right: 20px;
}

.markdown .image img.diagram {
  width: 300px;
  margin: 0;
  background-color: #f5f5ff;
}

.markdown:nth-of-type(2n) {
  background-color: #103942;
  color: #ccc;
}

.markdown:nth-of-type(2n+1) {
  background-color: white;
  color: #333;
}

.markdown:nth-of-type(2n+1) h2 {
  color: #103942;
}

.markdown:nth-of-type(2n+1) p strong {
  color: #103942;
}

.markdown p {
  margin: 0;
  padding: 0 20px;
}

.markdown h1 {
  clear: both;
  color: inherit;
  background-color: inherit;
  text-align: center;
  height: auto;
  min-height: 0;

  font-family: "Marcellus SC", sans-serif;
  font-size: 46px;

  margin: 0;
  padding: 0 20px;
}

.markdown h2 {
  clear: both;

  font-size: 26px;

  margin: 0;
  padding: 0 20px;
}

.markdown h3 {
  clear: both;

  font-size: 20px;

  margin: 0;
  padding: 0 20px;
  padding-bottom: 5px;

  margin-top: 15px;
}

.markdown.object_curation.section {
  padding-bottom: 40px;
}

body .content {
  padding-bottom: 0;
  margin-bottom: 0;
}

body .content ul.post-list {
}

body .content ul.post-list li:not(:first-child) {
  margin-top: 30px;
}

.demo-container {
  background-color: white;
  &.markdown.section {
    padding: 0;
  }

  .demo {
    margin: 0;
    padding: 0 30px;

    h2 {
      text-align: center;
    }

    .image {
      max-width: 100%;
      padding-left: 15px;
      padding-right: 15px;

      img {
        max-width: 100%;
      }
    }

    div {
      .contents {
        max-width: 700px;
        padding: 20px;
        padding-top: 50px;
        margin: 0 auto;
        width: 100%;
        box-sizing: border-box;
      }
    }

    .slick-next {
      right: 25px;
      z-index: 9999;
    }

    .slick-prev {
      left: 25px;
      z-index: 9999;
    }

    .slick-slide {
      display: flex;
      align-items: center;
    }

    .slick-dots {
      position: absolute;
      display: block;
      top: 10px;
      left: 0;
      bottom: inherit;

      li button:before {
        color: #ccc;
      }
      li.slick-active button:before {
        color: white;
      }
    }
  }
}
