---
---
@charset "utf-8";

.content .banner-header {
  background-color: #103942;
  position: relative;
  width: 100%;
  max-height: 128px;
  text-align: center;
}

.content .banner-header img {
  max-height: 128px;
  max-width: 100%;
}

.content article .image {
  max-width: 100%;
  padding-left: 15px;
  padding-right: 30px;
}

.content article .image img {
  max-width: 100%;
}

.content article .image.left {
  text-align: left;
}

.content article .image.border img {
  border: 1px solid #aaa;
  padding: 5px;
  background-color: hsl(300, 50%, 93%);
}

.content article .image.right {
  text-align: right;
}

.content article .image.float.left {
  float: left;
}

.content article {
  background-color: white;
  margin-top: 2px;
  padding-bottom: 10px;
}

.content article header h1 {
  background-color: #103942;
  background-color: rgba(23, 83, 96, 1);
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 36px;
  font-weight: 300;
  padding: 15px 15px;
  position: relative;
  letter-spacing: 0.05em;
}

.content article h2 {
  clear: both;
  color: #103942;
  margin-top: 45px;
  padding: 5px 15px;
  font-weight: 300;
  font-family: "Lato", "Alegreya Sans SC", "Montserrat Alternates";
  font-size: 26px;
}

.content article h3 {
  clear: both;
  color: #333;
  padding: 5px 15px;
  font-family: "Alegreya Sans SC", "Montserrat Alternates";
  font-size: 20px;
}

.content article header h1 .time {
  float: right;
  display: inline-block;
  background-color: #C7ECBB;
  font-family: "Open Sans";
  font-size: 10pt;
  padding: 3px 10px;
  border-radius: 10px;
  margin-top: 8px;
  margin-right: 5px;
  color: #2C5F12;
  font-weight: 600;
  letter-spacing: 0.009em;
}

.content article header .post-meta {
  text-align: right;
  padding-right: 15px;
  padding-bottom: 15px;
}

.content article p {
  padding: 0 15px;
  font-family: "Lato", sans;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.5em;
  margin-top: 15px;
}

.content article p:empty {
  display: none;
}

.content article p code,
.content article pre {
  font-family: 'inconsolata', monospace;
  line-height: 1.2em;
}

.content article .caption p {
  font: normal 12pt "Marcellus SC", serif;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #cc3bcc;
}

.content article .image.left .caption p {
  text-align: left;
}

.content article .image.right .caption p {
  text-align: right;
}

.content article .image.float .caption p {
  text-align: center;
}

.content article pre {
  background-color: #333;
  color: #ddd;
  overflow: auto;
  padding: 5px 15px;
  margin-top: 10px;
  clear: both;
}

.content article .highlight + p,
.content article pre + p {
  margin-top: 10px;
}

.content article ul + p {
  margin-top: 20px;
}

.content article > p:last-child {
  padding-bottom: 15px;
}

.content article ol ,
.content article ul {
  padding: 5px 15px;
  padding-bottom: 0px;

  font-family: "Lato", sans;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.3em;
}

.content article ul li {
  list-style-type: disc;
  list-style-position: outside;

  margin-top: 5px;
  margin-left: 20px;
}

.content article ol li {
  list-style-type: decimal;
  list-style-position: inside;

  margin-top: 5px;
  margin-left: 10px;
}

.content article iframe {
  width: 100%;
  height: 800px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.content article .notice::after {
  position: absolute;
  left: -15px;
  top:  -15px;
  content: '';
  display: block;
  width:   52px;
  height:  52px;
  background-image:  url('/images/notice_mark.svg');
  background-repeat: no-repeat;
  background-size:   52px;
}

.content article .notice {
  position: relative;
  font-family: "Open Sans";
  font-size: 12pt;
  font-weight: 400;

  margin-left:  30px;
  margin-right: 30px;
  margin-top:   30px;

  padding: 10px;
  padding-left: 45px;

  border: 1px solid #aaa;
  border-radius: 10px;
}

.content article,
.content article h2 {
  counter-reset: step;
  position: relative;
}

.content article h3.step::before {
  display: inline-block;
  counter-increment: step;
  content: counter(step);
  background-color: hsl(180, 50%, 30%);
  width:  1.4em;
  height: 1.4em;
  line-height: 1.3em;
  text-align: center;
  border-radius: 0.7em;
  font-size: 24pt;
  color: white;
  margin-right: 10px;
  position: absolute;
  top: -7px;
  left: -0.7em;
}

.content article h3.step {
  display: inline-block;
  position: relative;
  border: 1px solid #ddd;
  border-right-color: #ccc;
  border-bottom-color: #bbb;
  border-left: none;
  border-radius: 1em;
  min-height: 1em;
  margin-left: 35px;
  margin-right: 15px;
  padding-left: 30px;
  box-shadow: 0px -1px 2px 0px #D2D2D2 inset;
  margin-top: 30px;
}

.content article h3.step + p {
  margin-top: 30px;
}

.content article .toc {
  display: inline-block;
  float: left;
  background-color: #8BA8B1;
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}

.content article .toc ul li {
  font-size: 10pt;
  list-style: none outside;
  margin-top: 5px;
  margin-left: 0px;
}

.content article .toc ul li a {
  color: white;
}
