---
---
<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class='content'>
      <div class='header'>
        <img src="{{ "/images/logo_large.svg" | prepend: site.baseurl }}">

        <div class='video'>
          <div class='screen'>
            <img src='/images/yt_placeholder_16_9.png'>
            <div class='embed'>
            </div>
          </div>
        </div>
      </div>

      <div class='resizer'>
        <div class='resizer-content'>
          <img src = "{{ "/images/yt_placeholder_16_9.png" | prepend: site.baseurl }}">
        </div>
      </div>

      <div class='pillars'>
        <ul>
          <a href="{{ "/infrastructure/overview.html" | prepend: site.baseurl }}"><li>Infrastructure</li></a>
          <a href="{{ "/education/overview.html" | prepend: site.baseurl }}"><li>Education</li></a>
          <a href="{{ "/community/overview.html" | prepend: site.baseurl }}"><li>Community</li></a>
        </ul>
      </div>

      <div class='markdown section'>
        <h1>What is OCCAM</h1>
      </div>

      <div class='markdown main'>
{% markdown %}{% include index/section_0_description.md %}{% endmarkdown %}
      </div>

      <div class='markdown section demo-container'>
        <div class='demo'>
{% comment %}

To add a slide, just add a markdown file called slide_whatever.md in the
_includes/index/ path.

{% endcomment %}
{% loop_directory directory:_includes/index iterator:slide filter:slide_*.md sort:descending %}
          <div>
            <div class='contents'>
{% markdown %}{% include index/{{ slide }} %}{% endmarkdown %}
            </div>
          </div>
{% endloop_directory %}
        </div>
      </div>

      <div class='markdown section'>
{% markdown %}{% include recent_events.md %}{% endmarkdown %}
      </div>

      <div class='markdown section'>
        <h1>Recent Posts</h1>
      </div>

      <div class='markdown section'>
        <ul class='post-list'>
        {% for post in site.posts limit:3 %}
          {% if post.hidden != true %}
            <li>
              <!-- <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span> -->

              <h2>
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
              </h2>
            </li>
          {% endif %}
        {% endfor %}
        </ul>
      </div>

      <div class='markdown sponsors section'>
{% markdown %}{% include index/section_sponsors.md %}{% endmarkdown %}
      </div>
    </div>

    {{ content }}

    {% include footer.html %}

    <script type = "text/javascript" src = "{{ "/js/jquery/jquery.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ site.baseurl }}/js/lightbox2-master/dist/js/lightbox.min.js"></script>
    <script type = "text/javascript" src = "{{ "/js/slick/slick/slick.min.js" | prepend: site.baseurl }}"></script>
    <script type = "text/javascript">
      $(function() {
        $('.embed').one('click', function(event) {
          $('.embed').append('<video style="width: 100%" controls><source src="{{ "/videos/demo-480.mp4" | prepend: site.baseurl }}" type="video/mp4"></video>');
        });

        $('.demo').slick({
          dots: true,
          infinite: true,
          speed: 300,
          fade: true,
          pauseOnHover: true,
          slidesToShow: 1,
          autoplay: true,
          centerMode: true,
        });

        var resizeSlides = function(event) {
          var maxHeight = 0;
          $('.demo').find('.slick-slide').each(function() {
            var slide = $(this);
            if (slide.children('.contents').outerHeight() > maxHeight) {
              maxHeight = slide.children('.contents').outerHeight();
            }
          });

          $('.demo').find('.slick-slide').each(function() {
            var slide = $(this);
            slide.css({height: maxHeight});
          });
        };

        $(window).on('resize', resizeSlides);
        $(window).on('load', resizeSlides);
        $('.demo').on('beforeChange', resizeSlides);

        /* I'll just implement pauseOnHover myself just in case
         * it has been a little flaky
         */
        $('.demo').on('mouseenter', function(event) {
          $(this).slick('slickPause');
        }).on('mouseleave', function(event) {
          $(this).slick('slickPlay');
        });
      });
    </script>
  </body>
</html>
