<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>

  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/reset.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/fonts.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/site.css"  | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/post.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/index.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/about.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/zenburn.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/js/slick/slick/slick.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/js/lightbox2-master/dist/css/lightbox.min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/js/slick/slick/slick-theme.css" | prepend: site.baseurl }}">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

  <link rel="icon" sizes='16x16' href="{{ "/images/favicon-16.png" | prepend: site.baseurl }}">
  <link rel="icon" sizes='32x32' href="{{ "/images/favicon-32.png" | prepend: site.baseurl }}">
  <link rel="icon" sizes='48x48' href="{{ "/images/favicon-48.png" | prepend: site.baseurl }}">
</head>
