<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class='content'>
      <div class='banner-header'>
        <a href = "{{ "/" | prepend: site.baseurl }}">
          <img src="{{ "/images/logo_large_fitted.svg" | prepend: site.baseurl }}">
        </a>
      </div>
      <article>
        {{ content }}
      </article>
    </div>

    {% include footer.html %}

    <script type = "text/javascript" src = "{{ "/js/jquery/jquery.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ site.baseurl }}/js/lightbox2-master/dist/js/lightbox.min.js"></script>
  </body>
</html>
