<!DOCTYPE html>
<html class="docs">
  <head>
    {% include head.html %}
  </head>
  <body class='docs'>
    <nav>
      <ul>
        <li>
          <a href="https://blog.occam.software">
            <span>
              <img src="{{ site.baseurl }}/images/logo4.png">
            </span>
          </a>
          <h2>
            <a href="https://about.occam.software{{ site.about_pages[page.index].url | replace_first: 'about/', '' | remove: '.html' }}">
              General Information
            </a>
          </h2>
          <h2 class='active'>
            <a href="https://docs.occam.software{{ page.url | replace_first: 'docs/', '' | remove: '.html' }}">
              System Documentation
            </a>
          </h2>
        </li>
        {% for blah in site.doc_pages %}
        {% if page.url == blah.url %}
        <li class='active'>
        {% else %}
        <li>
        {% endif %}
          <a href="{{ site.baseurl }}{{ blah.url | replace_first: 'docs/', '' | remove: '.html' }}">
            <span>
              {{ blah.title }}
            </span>
          </a>
        </li>
        {% endfor %}
      </ul>
    </nav>
    <div class='content'>
      {{ content }}
    </div>
    <script type = "text/javascript" src = "{{ "/js/jquery/jquery.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ site.baseurl }}/js/lightbox2-master/dist/js/lightbox.min.js"></script>
    <script src="{{ site.baseurl }}/js/about.js" type="text/javascript"></script>
  </body>
</html>
